# Compiled class file.
*.class*

# CUP / JFlex generated Java files.
parser.java
scanner.java
sym.java

# LLVM 
*.ll
*.bc

# Temporary files
*.*~

# Project files
/.vscode

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
